.message {
  display: flex;
  flex-direction: column;
  font-family: "poppins", arial;
  width: 100%;
}

.message__container {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.message__content {
  display: flex;
  align-items: center;
  background: white;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 15px;
  width: fit-content;
  max-width: 90%;
  font-size: 14px;
  height: fit-content;
  margin-left: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.message__content.user {
  color: white;
  margin-left: auto;
  background: #003049;
  box-shadow: 0px 2px 4px rgba(0, 47, 73, 0.5);
}
.message__content.user.sticker {
  background: transparent;
  box-shadow: none;
  font-size: 100px;
  padding: 0;
  margin-left: auto;
}
.message__content.sticker {
  background: transparent;
  box-shadow: none;
  font-size: 100px;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 30px;
}

.message__person {
  max-width: 45px;
  width: 100%;
  border-radius: 50%;
}

@media (max-width: 500px) {
  .message__person {
    max-width: 40px;
    width: 100%;
    border-radius: 50%;
  }

  .message__content.sticker {
    margin-left: 5px;
  }

  .sidebarNav__username {
    font-size: 20px;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    margin-left: 20px;
  }

  .message__content {
    padding: 0.8rem;
  }

  .message__content.sticker,
  .message__content.user.sticker {
    font-size: 80px;
    margin-bottom: 10px;
  }
}

@media (max-width: 375px) {
  .message__content {
    font-size: 12px;
  }

  .message__content.sticker,
  .message__content.user.sticker {
    font-size: 70px;
  }
}
